.view-cards-largas{
    .view-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .views-row{
            height: auto;
            .card{
                background-color: transparent;
                border-radius: 0;
                height: 446px;
                @media (max-width:765px) {
                    height: auto;
                }
                &::before{
                    box-shadow: 0 0 1em 0 #e21a23;
                    position: absolute;
                    left: -12px;
                    right: 0;
                    height: 3px;
                    background-color: #e21a23;
                    content: "";
                    width: 102%;
                    bottom: -5px;
                    @media (max-width:768px){
                        width: 100%;
                        left: 0;
                        bottom: 0px;
                    }
                }
                .row{
                    height: 100%;
                    .col-12{
                        padding: unset;
                        .card-img{
                            margin: unset;
                            width: 100%;
                            height: 446px;
                            @media (max-width:765px) {
                                height: auto;
                            }
                            img{
                                object-fit: cover;
                                object-position: center;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .card-body{
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                            h3{
                                text-transform: uppercase;
                            }
                            .card-footer{
                                background-color: transparent;
                                a.btn.btn-outline-light.btn-lg{
                                    background-color: #000;
                                    color: #fff;
                                    border: 1.5px solid #fff;
                                    transition: all 0.2s ease-in-out;
                                    text-transform: uppercase;
                                    &:hover{
                                        border: 1px solid red;
                                        box-shadow: 0px 0px 6px 2px #f826d4;
                                        text-shadow: 0 0 3px #f826d4;
                                        background-color: #fff;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                    .cuerpo-card{
                        background-color: #fff;
                        height: 446px;
                        @media (max-width:765px) {
                            max-height: unset;    
                            height: auto;
                        }
                    }
                    .imagen-card{
                        height: 100%;
                        max-height: 446px;
                        @media (max-width:765px) {
                            max-height: unset;    
                            height: auto;
                        }
                    }
                }
            }
        }
        .views-row:nth-child(2n){
            .card{
                .row{
                    flex-direction: row-reverse;
                }
            }
        }
    }
}
.cards-largas{
    .container{
        .row{
            .col-12{
                .block{
                    // .skeew{
                    //     .view-content{
                    //         .views-row{
                    //             .card{
                    //                 .row{
                    //                     .imagen-card,.cuerpo-card{
                    //                         transform: unset;
                    //                         @media (max-width:768px) {
                    //                             width: 50% !important;
                    //                             transform: skew(-20deg, 0deg);
                    //                         }
                    //                         .card-img{
                    //                             object-fit: cover;
                    //                             object-position: center;
                    //                             width: 100%;
                    //                             height: 100%;
                    //                             transform: unset;
                    //                             @media (max-width:768px) {
                    //                                 transform: skew(20deg, 0deg);
                    //                                 z-index: 0;
                    //                                 position: relative;
                    //                                 left: 60px;
                    //                             }
                    //                         }
                    //                         .card-body{
                                                
                    //                             @media (max-width:768px) {
                    //                                 transform: skew(20deg, 0deg);
                    //                                 width: 70%;
                    //                                 margin: auto;
                    //                             }
                    //                         }
                    //                     }
                    //                     .cuerpo-card{
                    //                         position: relative;
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //         .views-row:nth-child(2n){
                    //             .card{
                    //                 .row{
                    //                     .imagen-card{
                    //                         .card-img{
                    //                             left: -30px;
                    //                         }
                    //                     }
                    //                     .cuerpo-card{
                    //                         left: 30px;
                    //                         .card-body{
                    //                             position: relative;
                    //                             left: 20px;
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}