
<h2>{{fields.title.content|render|striptags|trim}}</h2>
<div class="container horario-KLIMUUR">
    <div class="row">
        <div class="col-md-6 imagenTragelBOWLING">
            {{fields.field_imagen_del_horario.content}}
        </div>
        <div class="col-md-6">
            <div class="cubo">
                {{fields.field_horario_de_funcionamiento.content}}                
            </div>
        </div>
    </div>
</div>